<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />}
  </startup>
  <connectionStrings>
    <add name="RESERVAS"
          connectionString="Data Source = MVAZQUEZ\MARIAV; 
                              Initial Catalog =RESERVAS ; 
                              User Id=sa; 
                              Password = 123456"
          providerName="System.Data.SqlClient" />
    <add name="RESERVAS"
          connectionString="Data Source = MVAZQUEZ\MARIAV; 
                              Initial Catalog = RESERVAS;
                              Trusted_Connection=True;
                              "
          providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>